{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {{ endereco }} |
{% endblock %}
{% block conteudo %}
  <div class="row">
    <div class="col-lg mt 3">
      {% block tituloperfil %}
        <h3>Alterar Endereço</h3>
      {% endblock %}

      <form method="post" action="">
        {% csrf_token %}
        {{ enderecoform|crispy }}

        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}%
